{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    {% trans %}hello{% endtrans %}
    {{ 'hello'| trans }}
    <div id='calendar'></div>
    <img id="loading" src={{ asset('bundles/ballacktimesheet/images/loader.gif') }}/>
    <div id="eventContent" title="Event Details" style="display:none;">
        Start: <span id="startTime"></span><br>
        End: <span id="endTime"></span><br><br>
        <p id="eventInfo"></p>
        <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    </div>
   {# {% set referer = app.request.server.get('http-referer')|default('/') %}

    <input type="text" name="_target_path" value="{{ referer }}" />#}
    {% endblock %}
